body {
    background: aliceblue;
    font: 14pt Calibri;
}

div {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border: 2px black double;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    padding: 10px;
    border: 1px black double;
    vertical-align: top;
    text-align: center;
}

a:hover {
    color: lightpink;
}